#main_banner {
	.main_banner_item {
		background-size: cover;
		background-position: center;
		.overlay {
			@include overlay($primary, 0.4);
			text-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.5);
		}
	}
}
.other_banner {
	background-size: cover;
	background-position: center;
	.overlay {
		height: 50vh;
		@include overlay($primary, 0.4);
	}
}
