$primary: #31124b;
$info: #1f0733;
$warning: #f79c22;
$danger: #ce000c;
$light: #eeeeee;
$dark: #000000;

$link-color: #ffffff;
$link-hover-color: $warning;

$font-family-base: "Kumbh Sans", sans-serif;
$headings-font-family: "Beyond", serif;

$border-radius: 22em;
$border-radius-lg: 22em;

$btn-padding-y: 0.8rem;
$btn-padding-x: 2rem;

$btn-padding-y-lg: 1rem;
$btn-padding-x-lg: 2.5rem;
$btn-font-size-lg: 1rem;

$lead-font-size: 2rem !default;
